/* Whole sidebar */
.sidebar {
    background-color: #FFF;
    height: 100%;
    width: 310px;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header */
.sidebar .header img {
    width: 280px;
    margin-bottom: 20px;
    user-select: none;
}


/* Menu items */
.sidebar .menu {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sidebar .menu img {
    width: 30px;
}

.sidebar .menu .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: #25282C;
}

.sidebar .menu .item:hover {
    color: #5F43F4;
}

.sidebar .menu .item-highlight {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(95, 67, 244, 0.2);
    
}

.sidebar .menu .item #title {
    font-size: 20.4px;
    font-weight: bold;
    margin-left: 15px;
}

.sidebar .menu .item-highlight #title {
    color: #5F43F4;
    font-size: 20.4px;
    font-weight: bold;
    margin-left: 15px;
}

/* Footer */
.sidebar .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: auto;
}

.sidebar .footer .user {
    margin-left: 30px;
    display: flex;
    align-items: left;
    cursor: pointer;
}

.sidebar .footer .user img {
    width: 50px;
    border-radius: 50%;
    user-select: none;
}

.sidebar .footer .user #user-name {
    font-size: 20px;
    margin-left: 15px;
    align-self: center;
    user-select: none;
}

.sidebar .footer .user .arrow {
    width: 20px;
    margin-left: 100px;
    align-self: center;
    user-select: none;
}

.sidebar .footer hr {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 240px;
    color: 7A7E80;
}


.sidebar .footer .logout {
    position: absolute;
    text-align: center;
    padding: 10px;
    border: none;
    color: black;
    background-color: white;
    width: 100px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    top: 58px;
    left: 25px;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    margin-left: 150px;
    margin-top: -10px;
    border-radius: 10px;
    font-weight: bold;
}

.sidebar .footer .logout:hover {
    color: #5F43F4;
}


.sidebar .footer #linkedin {
    margin-top: 0px;
    scale: 0.80;
    z-index: 1;
    user-select: none;
    
}